<!DOCTYPE html>
<html>
  <head>
    <title>Quintype Sample App</title>
    <link rel="stylesheet" type="text/css" href="{{ assetPath("application.css") }}"/>
  </head>
  <body>
    <script type="text/javascript">var qtReady = qtReady || [];</script>
    <div class="body-container">
      <div class="layout-menu">
	{% block menu %}
	<ul>
	  {% for menuItem in config.menuItems() %}
	  <li><a href="{{menuItem.url()}}">{{menuItem.title()}}</a></li>
	  {% endfor %}
	</ul>
	{% endblock %}
      </div>
      <div class="layout-content">
	<div id="container">
	  {% block content %}{% endblock %}
	</div>
      </div>
      <div class="clear"></div>
    </div>
    <script type="text/javascript">
      var qtConfig = {
        "image-cdn": "{{config("quintype.image-cdn")}}"
      };
    </script>
    <script type="text/javascript" src="{{ assetPath("application.js") }}"></script>
    <script type="text/javascript">
      app.initQtReady();
    </script>
  </body>
</html>
